html,body {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    /*margin: 0 0  0;*/
    background-color: rgb(150, 119, 108);
}

.container{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    background-color:antiquewhite;
}

.container_with_nav{
    height: calc(100% - 55px);
    width: 100%;
    overflow: auto;
    display: flex;
    background-color:antiquewhite;
}

.splash_container{
    align-items: center;
}

.home_container{
    flex-direction: column;
}

#home_dailyGraph {
    width: 85%;
    margin: 0 auto;
    flex: 1 1 0;

    border-radius: 20px;
    background-color: aqua;
}

#home_article{
    width: 85%;
    margin: 0 auto;
    flex: 1 1 0;

    border-radius: 20px;
    background-color:blueviolet;
}

#home_weeklyGraph{
    width: 85%;
    margin: 0 auto;
    flex: 2 1 0;

    border-radius: 20px;
    background-color:brown;
}

#sms_search{
    width: 85%;
    margin: 0 auto;
    flex: 1 1 0;

    border-radius: 20px;
    background-color: aqua;
}

#sms_list{
    width: 85%;
    margin: 0 auto;
    flex: 4 1 0;

    border-radius: 20px;
    background-color:olive;
}

#graph_circleGraph{
    width: 85%;
    margin: 0 auto;
    flex: 1 1 0;

    border-radius: 20px;
    background-color:lawngreen;
}

#graph_textPart{
    width: 85%;
    margin: 0 auto;
    flex: 1 1 0;

    border-radius: 20px;
    background-color:hotpink ;
}   

#tips_filter{
    width: 85%;
    margin: 0 auto;
    flex: 1 1 0;

    border-radius: 20px;
    background-color:gold ;
}

#tips_list{
    width: 85%;
    margin: 0 auto;
    flex: 1 1 0;

    border-radius: 20px;
    background-color:hotpink ;
}

#introImg{
    margin: 0 auto;
}

.textTemp{
    font-size: 30px;
}