html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
}

.splash_container{
    align-items: center;
}

.home_container{
    flex-direction: column;
}

#home_dailyGraph {
    width: 85%;
    height: 20%;
    margin: 0 auto;
    margin-top: 10%;


    border-radius: 20px;
    background-color: aqua;
}

#home_article{
    width: 85%;
    height: 20%;
    margin: 0 auto;
    margin-top: 5%;


    border-radius: 20px;
    background-color:blueviolet;
}

#home_weeklyGraph{
    width: 85%;
    height: 30%;
    margin: 0 auto;
    margin-top: 5%;


    border-radius: 20px;
    background-color:brown;
}


#introImg{
    margin: 0 auto;
}